.contact-us {
  position: relative;
  padding-block: 80px;
  background-image: url('../../images/hero-section/contactus-car.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.contact-us::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(18, 18, 20, 0.3);
  z-index: -10;
}

.contact-us__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 32px;
}

.contact-us::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 724px;
  height: 142px;
  border-radius: 100%;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  transform: translate(-50%, -50%);
}

.contact-us__avatars {
  display: flex;
}

.contact-us__image:not(:first-child) {
  margin-left: -16px;
}

.contact-us__image:nth-child(2) {
  z-index: -2;
}

.contact-us__image:last-child {
  z-index: -4;
}

.contact-us__support {
  display: grid;
  row-gap: 8px;
}

.contact-us__button {
  border-radius: 8px;
  padding: 12.5px 26.5px;
  width: 140px;
  height: var(--button-height);
  background-color: var(--primary);
}

.contact-us__button:hover {
  background-color: var(--primary-light);
}
